* {
	font-family: Arial;

}

.navbarwrap {
	height:auto;
	background-color:#ededed;
}
.navbar {
	background-color: #ededed;
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height: auto;
	padding:0.5em;
}

.entry {
	display:inline-block;
	width: 160px;
	height: auto;
	font-size: 1em;
	text-align: center;
}

.entry > a {
	text-decoration: none;
	color: black;
}


.entry:hover {
	background-color: white;
	color: #ca2834;
	border-radius:5px;
}

.titlewrap {
	background-color: #ededed;
	display:block;
	padding-top:15px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	width:800px;
}
.titlebox {
	border-bottom: 1.5px solid black;
	display:inline-block;
	height:auto;
	font-size:5em;
	text-align:center;
}

.upperwrap {
	background-color: #ededed;	
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height:auto;
}
.upperleft {
	border-right:1px solid black;
	display:inline-block;
	width:294px;
	height:400px;

}

.buttonwrapper {
	display: table;
	margin: 0 auto;  /* still need to vertically align these buttons */
}
.buttonwrapper > a {
	display:block;
	padding-top:2px;
	padding-bottom:2px;
}

.upperright {
	display: inline-block;
	width:500px;
	height:400px;
	vertical-align:top;
}

.centerwrapper{
	display:table;
	height:400px;
	margin: 0 auto;
	margin-top: 57px;    /* This is not the nice way of centering it in the div. Need to fix */
	vertical-align: center;
}
.picwrap {
	display: block;

}

.smallpicwrap{
	display:inline-block;
}

.smallpicwrap > img {
	display: block;
	padding-top:2px;
	padding-bottom:2px
}


.lowerwrap {
	background-color: #ededed;
	display:block;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	width:800px;
}
.lowertitlebox {
	padding-top: 10px;
	display:block;
	height:auto;
	font-size:2em;
	text-align:center;
}
.lowercontentbox {
	padding-top:15px;
	padding-bottom:15px;
	display:block;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	width:700px;
	font-size:1em;
	text-align:justify;
}

.footerwrap {
	height:auto;
	background-color:#ededed;
}
.footer {
	background-color: #ededed;
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height: auto;
	padding:0.5em;
}

.footerentry {
	display:block;
	font-size: 0.7em;
	text-align: center;
}

/* anything new for the blog index below this comment*/
.middlewrap {
	background-color: #ededed;	
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height:auto;
}
.blogcolumnwrap {
	display:inline-block;
	width:400px;
	padding: 1em 1em 1em 1em;
}

.blogentrieswrap {
	border-bottom:1px solid black;
	padding-top:1em;
	padding-bottom: 0.5em;
}


.blogtitle{
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	padding-bottom:5px;
}
.blogdate{
	padding-top:1em;
	font-size: .8em;
}
.blogdescription{
	padding-top:1.5em;
	padding-bottom:0.5em;
	font-size: 0.9em;
	text-align: justify;
}

.readmore {
	display:block;
	font-size: 1em;
	text-align: center;
	margin: 0 auto;
	border-radius:5px;
	padding: 0.5em 1em 0.5em 1em
}
.readmore > a {
	text-decoration: none;
	color: black;
}
.readmore:hover {
	background-color: white;
	color: #ca2834;
	border-radius:5px;
}

.rightcolumnwrap{
	display: inline-block;
	width:361px;
	height:auto;
	vertical-align: top;

}

.searchbarwrap{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -2.2em;
	border: 1px solid black;
	width:200px;
	height:70px;

}

.archivewrap{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	width:200px;
	height:70px;
}
